   <h1>Coloque a nova senha</h1>
   <form [formGroup]="formNewPassword" class="m-auto mt-5" (ngSubmit)="resetPassword()">
   <div class="input-group input-group-sm mb-3">
      <input type="password"
         class="text-white form-control bg-dark rounded-pill p-3"
         placeholder="Senha">
   </div>
   <div class="input-group input-group-sm mb-3">
      <input type="password"
         class="text-white form-control bg-dark rounded-pill p-3"
         placeholder="Repetir Senha">
   </div>
   </form>
   <div class="mb-4">
      <app-button classBtn="btn-outline-primary">
         <strong>Redefinir Senha</strong>
      </app-button>
   </div>
   <a class="text-dark text-decoration-none" routerLink="">Voltar</a>