
  <h1>Criar Conta</h1>

  <form [formGroup]="formCreateUser" class="m-auto mt-5" (ngSubmit)="createUser()">
   <div class="input-group input-group-sm mb-3">
      <input type="text"
        [ngClass]="{'is-invalid': fCreateUser['name'].errors && fCreateUser['name'].touched }"
        class="text-white form-control bg-dark rounded-pill p-3"
        formControlName="name"
        placeholder="Nome"
        aria-label="Small"
        aria-describedby="inputGroup-sizing-sm">

        <div *ngIf="fCreateUser['name'].errors && fCreateUser['name'].touched" 
        class="invalid-feedback">
          <span>Insira um nome Válido</span>
        </div>
   </div>
     <div class="input-group input-group-sm mb-3">
        <input type="text"
          [ngClass]="{'is-invalid': fCreateUser['email'].errors && fCreateUser['email'].touched }"
          class="text-white form-control bg-dark rounded-pill p-3"
          formControlName="email"
          placeholder="Email"
          aria-describedby="inputGroup-sizing-sm">

        <div *ngIf="fCreateUser['email'].errors && fCreateUser['email'].touched" 
              class="invalid-feedback">
            <span>Insira um Endereço de email Válido</span>
        </div>
     </div>
     <div class="input-group input-group-sm mb-3">
        <input type="password"
          class="text-white form-control bg-dark rounded-pill p-3"
          [ngClass]="{'is-invalid': fCreateUser['password'].errors && fCreateUser['password'].touched }"
          formControlName="password"
          placeholder="Senha"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">

        <input type="password"
          class="text-white form-control bg-dark rounded-pill p-3"
          [ngClass]="{'is-invalid': fCreateUser['repeatPassword'].errors && fCreateUser['repeatPassword'].touched }"
          formControlName="repeatPassword"
          placeholder="Repetir Senha"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">

      <div *ngIf="fCreateUser['password'].errors && fCreateUser['password'].touched" 
        class="invalid-feedback">
          <span>Insira uma senha Válida</span>
      </div>

      <div *ngIf="fCreateUser['repeatPassword'].errors && fCreateUser['repeatPassword'].touched" 
        class="invalid-feedback">
          <span>Insira uma senha Válida</span>
      </div>

      <div *ngIf="fCreateUser['repeatPassword'].hasError('equalsTo')" 
      class="invalid-feedback">
          <span>Senhas não coincidem</span>
      </div>
      
     </div>

     
     <div class="input-group input-group-sm mb-3">
        <input type="date"
          class="text-white form-control bg-dark rounded-pill p-3"
          formControlName="dateBirth"
          placeholder="Senha"
          aria-label="Small"
          aria-describedby="inputGroup-sizing-sm">
     </div>
     <div class="input-group input-group-sm mb-3">
        <ng-select [searchable]="true" [compareWith]="compareFn" formControlName="sex" placeholder="Sexo" class="custom w-100">
            <ng-option *ngFor="let item of sex" [value]="item.sex">{{item.name}}</ng-option>
        </ng-select>
     </div>
     <div class="mb-4">
      <app-button classBtn="btn-outline-secondary">
          <strong>Criar Conta</strong>
      </app-button>
    </div>
  </form>
  
  <a class="text-dark text-decoration-none" routerLink="/">Voltar</a>

