.post-content {
    background-color: rgba(255,255,255,.1);
    color: #fff;
    margin-top: 10px;
    position: relative;
    border-radius: 20px;
}

.post-content .icon-user {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    top: 10px;
    left: 10px;
}

button {
    border: none;
    border-radius: 10px;
}