.post-content {
    background-color: rgba(255,255,255,.1);
    color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 5px 12px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto 0 auto;
}


.icon-user, .icon-user-comments {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
}

.icon-user {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 10px;
}

.icon-user-comments {
    width: 20px;
    height: 20px;
}

.action-post-button {
    border: none;
    border-radius: 10px;
    background-color: inherit;
    color: #fff;
}

.like-active {
    color: blueviolet;
}

.action-post-button:hover {
    opacity: 0.5;
    transition: 500ms linear;
}

.comment-input {
    flex: 1;
    padding: 10px;
    border: none;
    background: inherit;
    border-bottom: 1px solid #000;
    color: #fff;
}

.comment-input:focus {
  outline: none;
}

.edit-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
}

button {
  all: unset;
  cursor: pointer;
}

.button-disabled {
    opacity: .5;
}