<header>
   <div class="container d-flex justify-content-between align-items-center text-white">
    <h1>Blupr</h1>
    <mat-form-field class="example-full-width mt-2" appearance="fill">
      <input type="text"
      placeholder="Buscar algum valor..."
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option.option">
          {{option.option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle circle-user bg-white text-dark" data-toggle="dropdown" data-offset="10,20">
        <i class="bi bi-person"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <div id="triangle"></div>
        <button class="dropdown-item" type="button">Ação</button>
        <button class="dropdown-item" type="button">Another Ação</button>
        <button class="dropdown-item" type="button">Algo mais aqui</button>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Sair</a>
      </div>
    </div>
   </div>
</header>
