<header>
   <div class="container d-flex justify-content-between align-items-center text-white">
    <h1>Blupr</h1>
    <mat-form-field class="example-full-width mt-2" appearance="fill">
      <input type="text"
      placeholder="Buscar algum valor..."
      aria-label="Number"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option.option">
          {{option.option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="circle-user bg-white text-dark">
      <i class="bi bi-person"></i>
    </div>
   </div>
</header>
