<div class="container text-center">
  <div class="logo"></div>
  <h1>Coloque a nova senha</h1>
  <form class="m-auto mt-5">
     <div class="input-group input-group-sm mb-3">
        <input type="text"
           class="text-white form-control bg-dark rounded-pill p-3"
           placeholder="Email"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm">
     </div>
     <div class="input-group input-group-sm mb-3">
        <input type="password"
           class="text-white form-control bg-dark rounded-pill p-3"
           placeholder="Senha"
           aria-label="Small"
           aria-describedby="inputGroup-sizing-sm">
     </div>
     <div class="mb-4">
        <button type="button"
           class="btn btn-outline-secondary rounded-pill px-3 py-2 btn-lg">
        <strong>Fazer Login</strong>
        </button>
        <button type="button"
           class="btn btn-outline-primary rounded-pill px-3 py-2 btn-lg mx-2">
        <strong>Criar Conta</strong>
        </button>
     </div>
     <a class="text-dark text-decoration-none"
        routerLink="">Voltar</a>
  </form>
</div>
