

:root{
    --red: red;
}

.error{
    border: 1px solid --red !important;
}

.container{

    background-image: url('../../../../assets/bg-login.svg');
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: right;
  
}
  
.logo{

    background-image: url('../../../../assets/logo.png');
    width: 250px;
    height: 250px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;

}
  
form{
    width: 40%;
}

input {
    padding: 25px !important;
    background-color: #212529 !important;
}
  
input, .btn{
    box-shadow: #cecece 10px 10px 10px;
}
  
.btn-show-hide-password{
    width: 30px;
    height: 30px;
    color: white;
    position: absolute;
    left: 90%;
    top: 16px;
    z-index: 99999
}
  
@media (max-width: 600px)
{
  
    form{
      width: 90%;
    }
  
    .container{
      background-image: none;
    }
  
}
  