.container{

  background-image: url('../../assets/bg-login.svg');
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right;

}
.logo{
  background-image: url('../../assets/logo.png');
  width: 250px;
  height: 250px;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
}

form{
  width: 40%;
}

input, button{
  box-shadow: #cecece 10px 10px 10px;
}

@media (max-width: 600px)
{

  form{
    width: 90%;
  }

  .container{
    background-image: none;
  }

}
