:root{
  --red: red;
  --green: green;
  --dark: #242121;
  --dark-component: #212529;
  --white: #fff;
  --black: #000;
}

*{ 
  box-sizing: border-box; 
}

a:hover{
  cursor: pointer
}

body { 
  overflow-x: hidden;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.ng-select.custom .ng-select-container {
  width: 100%;
  height: auto !important;
  border-radius: 50rem !important;
  padding: 1rem !important;
  background-color: var(--dark-component);
}

::ng-deep .mat-dialog-container {
  border-radius: 15px !important;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--dark);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 20px;
  border: 3px solid var(--dark);
}