a:hover{
  cursor: pointer
}

.ng-select.custom .ng-select-container {
  width: 100%;
  height: auto !important;
  border-radius: 50rem !important;
  padding: 1rem !important;
  background-color: #212529;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
